<?xml version="1.0" encoding="UTF-8" ?>
<!-- mybatis-config.xml -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="member" type="com.study.member.vo.Member"/>
		<typeAlias alias="board" type="com.study.board.vo.Board"/>
		<typeAlias alias="boardSearch" type="com.study.board.vo.BoardSearch"/>
	</typeAliases>
	
</configuration>





